@model LoginViewModel

<div class="login-form">
    <form asp-controller="Auth" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <input type="submit" value="Sign In" class="btn btn-primary mt-2" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
