@model Blogs.Models.ProfileViewModel

@{
    ViewData["Title"] = "My Profile";
}

<h2>Welcome, @Model.User.UserName!</h2>

@if (Model.Posts != null && Model.Posts.Any())
{
    <h3>Your Posts</h3>
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>
                <a asp-controller="Home" asp-action="Index" asp-route-userId="@Model.User.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>You don't have any posts yet.</p>
}
