@page
@model Post
@{

}

<div>
	<form asp-asp-controller="Home" asp-action="Edit" method="post">
		<div>
			<label>Title</label>
			<input app-asp-for="Title" />
		</div>
		<div>
			<label>Body</label>
			<input app-asp-for="Body" />
		</div>
		<input type="submit" value="Submit" />
	</form>
</div>