@model Post
@{
    var userName = ViewBag.UserName as string;
}

<h2>@Model.Title</h2>
<p>Автор: @userName</p>


@* @model Post
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>

        <li>
            @Model.Title
        </li>

       

    </ul>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@