@model IEnumerable<Post>
@{
    ViewData["Title"] = "All posts";
}

<h2 class="page-title">All Blog Posts</h2>

<div class="posts-grid">
    @foreach (var post in Model)
    {
        <div class="post-card">
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                <h3>@post.Title</h3>
            </a>
        </div>
    }
</div>
