
@model IEnumerable<Post>
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <ui>

        @foreach(var post in Model)
        {
            <li>
                    @post.Title
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                   Edit
                </a>
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                    Remove
                </a>
            </li>
        }

    </ui>
</div>

